
<% if @recordings_user %>
    <h3>All Recordings for <%= @recordings_user.name %></h3>
<% else %>
    <h3>See All Recordings</h3>
<% end %>

<% if @recordings.count == 0 %>
    <p>User does not have any recordings at this time.</p>
<% else %>
    <ul>
        <% @recordings.each do |recording| %>
          <li>
              Recording = <%= link_to recording.name, recording_path(recording) %>
              || Show = <%= link_to recording.show.name, show_path(recording.show) %>
              <% if !@recordings_user %>
                  || User = <%= recording.user.name %>
              <% end %>
                  || Active? = <%= recording.active %>
          </li>
        <% end %>
    </ul>
<% end %>