<%= form_for user do |f|%>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label :recording_hours %><br>
    <%= f.number_field :recording_hours %>
  </p>

  <%= f.submit %>
<% end %>
