<h3>Show All Characters for Show <%= @show.name %></h3>

<% @show.characters.each do |character| %>


<!-- | <%= link_to "Edit", edit_show_character_path(character) %> | <%= link_to "Delete", "/shows/<%=@show.id%>/characters/<%=character.id%>" %> -->
<% end %>
