<h3>Show All Characters for Show <%= @show.name %></h3>

<ul>
  <% @show.characters.each do |character| %>
    <li>Name : <%= character.name %></li>
    <ol>
      <li>Role : <%= character.role %></li>
      <li>Description : <%= character.description %></li>
      <li><%= link_to "Edit", edit_show_character_path(@show, character) %> |
         <a href="shows/<%=@show.id%>/characters/<%=character.id%>>/delete">Delete (link TBD)</a>
       </li>
    </ol>
  <% end %>
</ul>
