<h3>Show Page</h3>

<p>Name: <%= @show.name %></p>
<p>Description: <%= @show.description %></p>
<p>Number of hours required to record show: <%= @show.req_recording_hours %></p>
<p>Age requirement to record show: <%= @show.req_age %></p>
<p>Show has <%= @show.characters.count %> characters (by name):</p>
<ul>
  <% @show.characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>
<p><%= link_to "See all of show's character information", show_characters_path(@show) %></p>

<% if current_user.shows.include?(@show) %>
  You have already recorded this show. Would you like to <%= link_to "see all recordings", recordings_path(current_user) %>?<br>
  <%= link_to "Add Character to Show", new_show_character_path(@show) %><br>
  <%= link_to "Edit Show", edit_show_path(@show) %><br>
  <a href="shows/<%=@show.id%>/delete">Delete Show (link TBD)</a>
<% else %>
  <%= link_to "Would you like to record this show?", new_recording_path(@show) %>
<% end %>
