<h3>Welcome to the TV Show Recording App</h3>
<h4>Built with Rails as the final rails project in the Learn Curriculum</h4>

<% if !logged_in? %>
    <p><%= link_to "Log In", login_path %></p>
    <p><%= link_to "Sign Up", signup_path %></p>
    <p><%= link_to "Log in or Sign Up with Google", '/auth/google_oauth2' %></p>

<% else %>
    <p><%= link_to "Go To Your Profile", user_path(current_user) %></p>
    <p><%= link_to "See All Shows", shows_path %></p>
    <p><%= link_to "See Most Viewed Characters By Show", most_viewed_characters_by_show_path %></p>
    
<% end %>